header {
  background-color: #8f13d8;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Roboto;
  padding: 5px 0px 5px 0px;
}

.display-meetups {
  padding: 0px 35px 20px 35px;
}

main {
  height: 900px;
  width: 600px;
}
